*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-image: linear-gradient(to bottom, #1b1e1e, #222727, #305253, #28979e, #06c5d0);
}
a{
    text-decoration: none;
    color: #fff;;
}
main{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 30px;
}
figure{
    min-height: 200px;
    width: 200px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    background-image: url("./fotoAboutMe.png");
    background-position-x: -5px;
    background-position-y: -50px;
    background-repeat: no-repeat;
}
figure > p{
    position: absolute;
    bottom: -10px;
    left: calc(50% - 60.11px);
    rotate: -5deg;
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
}
.nombre{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 40px;
}
h1{
    font-size: 2rem;
}
h1 + p{
    font-size: 1.6rem;
}
section{
    display: grid;
    width: 90%;
    max-width: 416px;
    height: 340px;
    grid-template-rows: repeat(6,1fr);
}
section > div{
   text-align: center;
   width: 100%;
   padding: 10px 0;
   border-radius: 50px;
   place-self: center;
   font-size: 2rem;
   font-family: 'Quicksand', sans-serif;
   font-weight: 700;
   background-color: #1b1e1e;
}
section  :hover{
    cursor: pointer;
    background-color: rgb(43, 102, 111);
}
section > :first-child :hover{
    color: orange;
}
section > :nth-child(3) :hover{
    color: rgb(38, 143, 230);
}
section > :nth-child(4) :hover{
    color: rgb(230, 38, 204);
}
section > :nth-child(5) :hover{
    color: rgb(230, 38, 51);
}